<footer class="footer mt-auto py-3 bg-dark fixed-bottom" >
  <div class="container">
    <span class="text-muted">Y3rb1t4 - Subscribe to our newsletter</span>
    <p>©2021, All Rights Reserved</p>
  </div>
</footer>