<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>{{title}}</h1>
            <p>
                En el año 2011 un grupo de estudiantes propuso organizar un evento TEDx, y se convirtió en el primer TEDx universitario de la Argentina organizado en el año 2012. ¿Qué es TEDx? Con el espíritu de ideas que vale la pena difundir, TED ha creado un programa llamado TEDx, eventos locales y auto-organizados que reúnen a personas para compartir experiencias similares a TED.
            </p>
        </div>
    </div>
</div>