<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>
        {{title}}
      </h1>
      <h2>
        Cuidadoso e impecable con las palabras. No tomo nada a título personal.
        Doy siempre mi mejor esfuerzo. Quiero abundancia para todxs
      </h2>
    </div>
  </div>
</div>